<div class="asset-details">
    <h2>Asset Procurement Page</h2>
    <div>
      <b>Approval Id:</b> {{ procuredAsset.id }} <b>Approved Machine:</b> {{ procuredAsset.approvedMachine }} <br>
      <b>Company Name:</b> {{ procuredAsset.companyName }} <b>Location:</b> {{ procuredAsset.location }} <b>Sub Location:</b> {{ procuredAsset.subLocation }} <br>
      <b>Asset Owner Information:</b> <br> 
      <b>Asset Owner:</b> {{ procuredAsset.assetOwnerFirstName }} {{ procuredAsset.assetOwnerMiddleName }} {{ procuredAsset.assetOwnerLastName }} <br>
      <b>Asset Owner Email:</b> {{ procuredAsset.assetOwnerEmail }} <b>EDP No.:</b> {{ procuredAsset.edpNumber }} <br>
      <b>Designation:</b> {{ procuredAsset.assetOwnerDesignation }}  <b>Department:</b> {{ procuredAsset.department }} <br>
      <b>Cost Center:</b> {{ procuredAsset.costCenter }} <br>  
      <b>Company Name:</b> {{ procuredAsset.organizationName }} <br>
      <b>Company Address:</b> <br> 
        {{ procuredAsset.flatBuilding }} {{ procuredAsset.streetName }} <br>
        {{ procuredAsset.city }} {{ procuredAsset.state }} {{procuredAsset.pincode}} <br>
      <b>GST No.:</b> {{ procuredAsset.gst }} <br>
      <b>Contact Person Information:</b> <br>
      <b>Contact Person Name:</b> {{ procuredAsset.contactPersonFirstName }} {{ procuredAsset.contactPersonMiddleName }} {{ procuredAsset.contactPersonLastName }} <br>
      <b>Contact Person Phone Number:</b> {{ procuredAsset.contactPersonPhoneNumber }} <br>
      <b>Old Device Information:</b> <br>
      <b>Device Name:</b> {{ procuredAsset.deviceName }} <b>Asset Code:</b> {{ procuredAsset.assetCode }} <b>Service Tag:</b> {{ procuredAsset.serviceTag }} <br>
      <b>Issued Date:</b> {{ procuredAsset.issuedDate }} <b>Expiry Date:</b> {{ procuredAsset.expiryDate }} <b>Expiry Status:</b> {{ procuredAsset.expiryStatus }}
    </div>
</div>
  
