<div class="list row">
    <div class="col-md-10">
      <ul class="list-group">
        <ng-container *ngFor="let asset of assetList; let i = index">
          <li
            class="list-group-item"
            [class.active]="i == currentIndex"
            (click)="setActiveAsset(asset, i)"
            >
            {{ asset.id }} <span>&nbsp;&nbsp;</span> 
            <button class="btn btn-primary btn-sm ml-2" (click)="generateCode()">Generate Code</button>
          </li>
          <div class="selected-details" *ngIf="i == currentIndex">
            <p>
                <b>Requestor Name:</b> {{ asset.assetOwnerFirstName }} {{ asset.assetOwnerMiddleName }} {{ asset.assetOwnerLastName }} <br>
                <b>Asset Type:</b> {{ asset.approvedMachine }} <br> 
                <b>Request Date:</b> {{ asset.requestDate }} <b>Approval Date:</b> {{ date }} <br>
                <b>Approved By:</b> IT Head
            </p>
          </div>
        </ng-container>
      </ul>
    </div>
  </div>

  <app-code-generation-modal [title]="modalTitle" [message]="modalMessage" (closeModal)="dismissModal()"></app-code-generation-modal>
  