<div class="container">
    <h1>Asset Procurement Approval Form</h1>
    <hr>
    <form #assetForm="ngForm" (ngSubmit)="submit(assetForm)">
        <!-- Approved Machine -->
        <div class="form-group">
            <label for="approvedMachine"><b>Approved Machine: </b></label>
            <input type="text" 
                id="approvedMachine" 
                name="approvedMachineInputField" 
                class="form-control" 
                [(ngModel)]="formData.approvedMachine"
                #approvedMachine="ngModel" 
                required>
            <div *ngIf="approvedMachine.touched && approvedMachine.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
        </div>
        <pre></pre>
        <!-- Company Name and Location Information -->
        <div class="form-group">
            <label for="companyName"><b>Company Name: </b></label>
            <input type="text" 
                id="companyName" 
                name="companyNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.companyName" 
                #companyName="ngModel"
                required>
            <div *ngIf="companyName.touched && companyName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <pre></pre>
            <label for="location"><b>Location: </b></label>
            <input type="text" 
                id="location" 
                name="locationInputField" 
                class="form-control" 
                [(ngModel)]="formData.location"
                #location="ngModel" 
                required>
            <div *ngIf="location.touched && location.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <label for="subLocation"><b>Sub Location: </b></label>
            <input type="text" 
                id="subLocation" 
                name="subLocationInputField" 
                class="form-control" 
                [(ngModel)]="formData.subLocation" 
                #subLocation="ngModel"
                required>
            <div *ngIf="subLocation.touched && subLocation.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
        </div>
        <pre></pre>
        <!-- Owner Information -->
        <div class="form-group">            
            <p><b>Asset Owner Information</b></p>
            <!-- First Name -->
            <label for="assetOwnerFirstName">First Name: </label>
            <input type="text" 
                id="assetOwnerFirstName" 
                name="assetOwnerFirstNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.assetOwnerFirstName"
                #assetOwnerFirstName="ngModel" 
                required>
            <div *ngIf="assetOwnerFirstName.touched && assetOwnerFirstName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Middle Name -->
            <label for="assetOwnerMiddleName">Middle Name: </label>
            <input type="text" 
                id="assetOwnerMiddleName" 
                name="assetOwnerMiddleNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.assetOwnerMiddleName">
            <!-- Last Name-->
            <label for="assetOwnerLastName">Last Name: </label>
            <input type="text" 
                id="assetOwnerLastName" 
                name="assetOwnerLastNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.assetOwnerLastName" 
                #assetOwnerLastName="ngModel"
                required>
            <div *ngIf="assetOwnerLastName.touched && assetOwnerLastName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <pre></pre>
            <!-- Email -->
            <label for="assetOwnerEmail">Email: </label>
            <input type="email" 
                id="assetOwnerEmail" 
                name="assetOwnerEmailInputField" 
                class="form-control" 
                [(ngModel)]="formData.assetOwnerEmail" 
                #assetOwnerEmail="ngModel"
                required>
            <div *ngIf="(assetOwnerEmail.touched && assetOwnerEmail.pristine) || 
                    (assetOwnerEmail.dirty && (formData.assetOwnerEmail === ''))"
                class="alert alert-danger">
                This is a required field
            </div>
            <div *ngIf="(assetOwnerEmail.dirty) && (isValidEmail(formData.assetOwnerEmail) === false)"
                class="alert alert-danger">
                Email is of invalid format
            </div>
            <!-- EDP No. -->
            <label for="edpNumber">EDP No.: </label>
            <input type="text" 
                id="edpNumber" 
                name="edpNumberInputField" 
                class="form-control" 
                [(ngModel)]="formData.edpNumber" 
                #edpNumber="ngModel"
                required>
            <div *ngIf="edpNumber.touched && edpNumber.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Designation -->
            <label for="assetOwnerDesignation">Designation: </label>
            <input type="text" 
                id="assetOwnerDesignation" 
                name="assetOwnerDesignationInputField" 
                class="form-control" 
                [(ngModel)]="formData.assetOwnerDesignation"
                #assetOwnerDesignation="ngModel" 
                required>
            <div *ngIf="assetOwnerDesignation.touched && assetOwnerDesignation.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <pre></pre>
            <!-- Cost Center -->
            <label for="costCenter">Cost Center: </label>
            <input type="text" 
                id="costCenter" 
                name="costCenterInputField" 
                class="form-control" 
                [(ngModel)]="formData.costCenter" 
                #costCenter="ngModel"
                required>
            <div *ngIf="costCenter.touched && costCenter.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Department -->
            <label for="department">Department: </label>
            <input type="text" 
                id="department" 
                name="departmentInputField" 
                class="form-control" 
                [(ngModel)]="formData.department" 
                #department="ngModel"
                required>            
            <div *ngIf="department.touched && department.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
        </div>
        <pre></pre>
        <!-- Delivery Address -->
        <div class="form-group">
            <div><b>Address</b></div>
            <!-- Company/Organization Name -->
            <label for="organizationName">Company/Organization Name: </label>
            <input type="text" 
                id="organizationName" 
                name="organizationNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.organizationName" 
                #organizationName="ngModel"
                required>            
            <div *ngIf="organizationName.touched && organizationName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <pre></pre>
            <!-- Flat Number and Building Name -->
            <label for="flatBuilding">Flat Number and Building Name: </label>
            <input type="text" 
                id="flatBuilding" 
                name="flatBuildingInputField" 
                class="form-control" 
                [(ngModel)]="formData.flatBuilding"
                #flatBuilding="ngModel"
                required>            
            <div *ngIf="flatBuilding.touched && flatBuilding.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Street Name -->
            <label for="streetName">Street/Area Name: </label>
            <input type="text" 
                id="streetName" 
                name="streetNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.streetName" 
                #streetName="ngModel"
                required>            
            <div *ngIf="streetName.touched && streetName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <pre></pre>
            <!-- City/District -->
            <label for="city">City/District: </label>
            <input type="text" 
                id="city" 
                name="cityInputField" 
                class="form-control" 
                [(ngModel)]="formData.city"
                #city="ngModel"
                required>            
            <div *ngIf="city.touched && city.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Pincode -->
            <label for="pincode">Pincode: </label>
            <input type="text" 
                id="pincode" 
                name="pincodeInputField" 
                class="form-control" 
                [(ngModel)]="formData.pincode"
                #pincode="ngModel" 
                required>            
            <div *ngIf="pincode.touched && pincode.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- State -->
            <label for="state">State/UT: </label>
            <select id="state" name="stateSelectField" class="form-control" 
                [(ngModel)]="formData.state" #state="ngModel" required>
                <option value="" disabled selected>Select State</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Ladakh">Ladakh</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
            </select>            
            <div *ngIf="state.touched && state.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
        </div>
        <pre></pre>
        <!-- GST -->
        <div class="form-group">
            <label for="gst"><b>GST No.: </b></label>
            <input type="text" 
                id="gst" 
                name="gstInputField" 
                class="form-control" 
                [(ngModel)]="formData.gst"
                #gst="ngModel"
                required>            
            <div *ngIf="gst.touched && gst.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
        </div>
        <pre></pre>
        <!-- Contact Person Information -->
        <div class="form-group">            
            <p><b>Contact Person Information</b></p>
            <!-- First Name -->
            <label for="contactPersonFirstName">First Name: </label>
            <input type="text" 
                id="contactPersonFirstName" 
                name="contactPersonFirstNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.contactPersonFirstName" 
                #contactPersonFirstName="ngModel"
                required>            
            <div *ngIf="contactPersonFirstName.touched && contactPersonFirstName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Middle Name -->
            <label for="contactPersonMiddleName">Middle Name: </label>
            <input type="text" 
                id="contactPersonMiddleName" 
                name="contactPersonMiddleNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.contactPersonMiddleName">
            <!-- Last Name-->
            <label for="contactPersonLastName">Last Name: </label>
            <input type="text" 
                id="contactPersonLastName" 
                name="contactPersonLastNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.contactPersonLastName" 
                #contactPersonLastName="ngModel"
                required>            
            <div *ngIf="contactPersonLastName.touched && contactPersonLastName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <pre></pre>
            <!-- Phone Number -->
            <label for="contactPersonPhoneNumber">Contact Number: </label>
            <input type="tel" 
                id="contactPersonPhoneNumber" 
                name="contactPersonPhoneNumberInputField" 
                class="form-control" 
                [(ngModel)]="formData.contactPersonPhoneNumber"
                #contactPersonPhoneNumber="ngModel"
                required>            
            <div *ngIf="contactPersonPhoneNumber.touched && contactPersonPhoneNumber.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
        </div>
        <pre></pre>
        <!-- Old Device Information -->
        <div class="form-group">
            <p><b>Device Information</b></p>
            <!-- Device Name -->
            <label for="deviceName">Device Name: </label>
            <input type="text" 
                id="deviceName" 
                name="deviceNameInputField" 
                class="form-control" 
                [(ngModel)]="formData.deviceName"
                #deviceName="ngModel"
                required>            
            <div *ngIf="deviceName.touched && deviceName.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Asset Code -->
            <label for="assetCode">Asset Code: </label>
            <input type="number" 
                id="assetCode" 
                name="assetCodeInputField" 
                class="form-control" 
                [(ngModel)]="formData.assetCode" 
                #assetCode="ngModel"
                required>            
            <div *ngIf="assetCode.touched && assetCode.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <!-- Service Tag -->
            <label for="serviceTag">Service Tag: </label>
            <input type="text" 
                id="serviceTag" 
                name="serviceTagInputField" 
                class="form-control" 
                [(ngModel)]="formData.serviceTag"
                #serviceTag="ngModel"
                required>            
            <div *ngIf="serviceTag.touched && serviceTag.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
            <pre></pre>
            <!-- Issued Date -->
            <label for="issuedDate">Issued Date (Month, Year):</label>
            <input type="month" 
                id="issuedDate" 
                name="issuedDateInputField" 
                class="form-control" 
                [(ngModel)]="formData.issuedDate"
                #issuedDate="ngModel"
                required>            
            <div *ngIf="issuedDate.touched && issuedDate.pristine"
                class="alert alert-danger">
                This is a required field
            </div>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit" [disabled]="assetForm.invalid">Submit</button>
        <span>&nbsp;&nbsp;</span>
        <button class="btn btn-secondary" type="reset" (click)="resetAssetForm(assetForm)">Reset</button>
        <pre></pre>
        <button class="btn btn-tertiary" type="submit" (click)="sendEmail(assetForm)">Send for Approval</button>
    </form>
    <hr>
</div>
