<div class="container">
    <h1>Asset Procurement Approval Form</h1>
    <hr>
    <form>
        <!-- Company Name and Location Information -->
        <div class="form-group">
            <label for="companyName"><b>Company Name: </b></label>
            <input type="text" name="companyName" class="form-control">
            <pre></pre>
            <label for="location"><b>Location: </b></label>
            <input type="text" name="location" class="form-control">
            <pre></pre>            
            <label for="subLocation"><b>Sub Location: </b></label>
            <input type="text" name="subLocation" class="form-control">
        </div>
        <pre></pre>
        <!-- Owner Information -->
        <div class="form-group">            
            <p><b>Asset Owner Information</b></p>
            <!-- First Name -->
            <label for="assetOwnerFirstName">First Name: </label>
            <input type="text" name="assetOwnerFirstName" class="form-control">
            <!-- Middle Name -->
            <label for="assetOwnerMiddleName">Middle Name: </label>
            <input type="text" name="assetOwnerMiddleName" class="form-control">
            <!-- Last Name-->
            <label for="assetOwnerLastName">Last Name: </label>
            <input type="text" name="assetOwnerLastName" class="form-control"><br>
            <pre></pre>
            <!-- Email -->
            <label for="assetOwnerEmail">Email: </label>
            <input type="email" name="assetOwnerEmail">
            <!-- EDP No. -->
            <label for="edpNumber">EDP No.: </label>
            <input type="text" name="edpNumber">
            <!-- Designation -->
            <label for="assetOwnerDesignation">Designation: </label>
            <input type="text" name="assetOwnerDesignation"><br>
            <pre></pre>
            <!-- Cost Center -->
            <label for="costCenter">Cost Center: </label>
            <input type="text" name="costCenter">
            <!-- Department -->
            <label for="department">Department: </label>
            <input type="text" name="department">
        </div>
        <pre></pre>
        <!-- Delivery Address -->
        <div class="form-group">
            <div><b>Address</b></div>
            <!-- Company/Organization Name -->
            <label for="organizationName">Company/Organization Name: </label>
            <input type="text" name="organizationName" class="form-control">
            <pre></pre>
            <!-- Flat Number and Building Name -->
            <label for="flatBuilding">Flat Number and Building Name: </label>
            <input type="text" name="flatBuilding" class="form-control">
            <!-- Street Name -->
            <label for="streetName">Street/Area Name: </label>
            <input type="text" name="streetName" class="form-control">
            <pre></pre>
            <!-- City/District -->
            <label for="city">City/District: </label>
            <input type="text" name="city" class="form-control">
            <!-- Pincode -->
            <label for="pincode">Pincode: </label>
            <input type="text" name="pincode" class="form-control">
            <!-- State -->
            <label for="state">State/UT: </label>
            <select name="state" class="form-control">
                <option value="" disabled selected>Select State</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Ladakh">Ladakh</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
            </select>
            <pre></pre>
        </div>
        <pre></pre>
        <!-- GST -->
        <div class="form-group">
            <label for="gst"><b>GST No.: </b></label>
            <input type="text" name="gst" class="form-control">
        </div>
        <pre></pre>
        <!-- Contact Person Information -->
        <div class="form-group">            
            <p><b>Contact Person Information</b></p>
            <!-- First Name -->
            <label for="contactPersonFirstName">First Name: </label>
            <input type="text" name="contactPersonFirstName" class="form-control">
            <!-- Middle Name -->
            <label for="contactPersonMiddleName">Middle Name: </label>
            <input type="text" name="contactPersonMiddleName" class="form-control">
            <!-- Last Name-->
            <label for="contactPersonLastName">Last Name: </label>
            <input type="text" name="contactPersonLastName" class="form-control"><br>
            <pre></pre>
            <!-- Phone Number -->
            <label for="contactPersonPhoneNumber">Contact Number: </label>
            <input type="tel" name="contactPersonPhoneNumber">
        </div>
        <pre></pre>
        <!-- Old Device Information -->
        <div class="form-group">
            <p><b>Device Information</b></p>
            <!-- Device Name -->
            <label for="deviceName">Device Name: </label>
            <input type="text" name="deviceName" class="form-control">
            <!-- Asset Code -->
            <label for="assetCode">Asset Code: </label>
            <input type="text" name="assetCode" class="form-control">
            <!-- Service Tag -->
            <label for="serviceTag">Service Tag: </label>
            <input type="text" name="serviceTag" class="form-control"><br>
            <!-- Issued Date -->
            <label for="issuedDate">Issued Date (Month, Year):</label>
            <input type="month" name="issuedDate" class="form-control">
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
    </form>
</div>
