<h1>Pending Approval Requests</h1>
<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th rowspan="2">Id</th>
                <th rowspan="2">Approved Machine</th>
                <th rowspan="2">Company Name</th>
                <th rowspan="2">Location</th>
                <th rowspan="2">SubLocation</th>
                <th colspan="6">Asset Owner Information</th>
                <th rowspan="2">Cost Center</th>
                <th rowspan="2">Department</th>
                <th colspan="6">Delivery Address</th>
                <th rowspan="2">GST Number</th>
                <th colspan="4">Contact Person Information</th>
                <th colspan="4">Old Device Information</th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>EDP Number</th>
                <th>Designation</th>
                <th>Company/Organization Name</th>
                <th>Flat and Building</th>
                <th>Street</th>
                <th>City</th>
                <th>Pincode</th>
                <th>State</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Device Name</th>
                <th>Asset Code</th>
                <th>Service Tag</th>
                <th>Issued Date</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr *ngFor="let asset of approvalRequests">
                <td>{{ asset.id }}</td>
                <td>{{ asset.approvedMachine }}</td>
                <td>{{ asset.companyName }}</td>
                <td>{{ asset.location }}</td>
                <td>{{ asset.subLocation }}</td>
                <td>{{ asset.assetOwnerFirstName }}</td>
                <td>{{ asset.assetOwnerMiddleName }}</td>
                <td>{{ asset.assetOwnerLastName }}</td>
                <td>{{ asset.assetOwnerEmail }}</td>
                <td>{{ asset.edpNumber }}</td>
                <td>{{ asset.assetOwnerDesignation }}</td>
                <td>{{ asset.costCenter }}</td>
                <td>{{ asset.department }}</td>
                <td>{{ asset.companyName }}</td>
                <td>{{ asset.flatBuilding }}</td>
                <td>{{ asset.streetName }}</td>
                <td>{{ asset.city }}</td>
                <td>{{ asset.pincode }}</td>
                <td>{{ asset.state }}</td>
                <td>{{ asset.gst }}</td>
                <td>{{ asset.contactPersonFirstName }}</td>
                <td>{{ asset.contactPersonMiddleName }}</td>
                <td>{{ asset.contactPersonLastName }}</td>
                <td>{{ asset.contactPersonPhoneNumber }}</td>
                <td>{{ asset.deviceName }}</td>
                <td>{{ asset.assetCode }}</td>
                <td>{{ asset.serviceTag }}</td>
                <td>{{ asset.issuedDate }}</td>
            </tr>
        </tbody> -->
    </table>
</div>

