<div class="confirmation-container">
  <h1>Confirmation Details</h1>  
  <!-- Form Details -->
  <h3>Form Details</h3>
  <div class="details-section-1">    
    <b>Approved Machine</b> {{ approvalRequestDataToConfirm.approvedMachine }} <br>
    <b>Company Name</b> {{ approvalRequestDataToConfirm.companyName }} <br>
    <b>Location</b> {{ approvalRequestDataToConfirm.location }} <br>
    <b>Sublocation</b> {{ approvalRequestDataToConfirm.subLocation }} <br>
    <b>Asset Owner Name</b> {{ approvalRequestDataToConfirm.assetOwnerFirstName }} {{ approvalRequestDataToConfirm.assetOwnerMiddleName }} {{ approvalRequestDataToConfirm.assetOwnerLastName }} <br>
    <b>EDP Number</b> {{ approvalRequestDataToConfirm.edpNumber }} <br>
    <b>Asset Owner Designation</b> {{ approvalRequestDataToConfirm.assetOwnerDesignation }} <br>
    <b>Cost Center</b> {{ approvalRequestDataToConfirm.costCenter }} <br>
    <b>Department</b> {{ approvalRequestDataToConfirm.department }} <br>
  </div>  
  <hr>
  <!-- Organization Details -->
  <h3>Organization Details</h3>
  <div class="details-section-2">    
    <b>Organization Name</b> {{ approvalRequestDataToConfirm.organizationName }} <br>
    <b>Flat and Building</b> {{ approvalRequestDataToConfirm.flatBuilding }} <br>
    <b>Street</b> {{ approvalRequestDataToConfirm.streetName }} <br>
    <b>City</b> {{ approvalRequestDataToConfirm.city }} <br>
    <b>Pincode</b> {{ approvalRequestDataToConfirm.pincode }} <br>
    <b>State</b> {{ approvalRequestDataToConfirm.state }} <br>
  </div>
  <hr>
  <!-- GST -->
  <div class="details-section-3">
    <b>GST Number</b> {{ approvalRequestDataToConfirm.gst }}
  </div>
  <hr>
  <!-- Contact Person Details -->
  <h3>Contact Person Details</h3>
  <div class="details-section-4">    
    <b>Contact Person Name</b> {{ approvalRequestDataToConfirm.contactPersonFirstName }} {{ approvalRequestDataToConfirm.contactPersonMiddleName }} {{ approvalRequestDataToConfirm.contactPersonLastName }} <br>
    <b>Contact Person Phone Number</b> {{ approvalRequestDataToConfirm.contactPersonPhoneNumber }} <br>
  </div>
  <hr>
  <!-- Device Details -->
  <h3>Device Details</h3>
  <div class="details-section-5">    
    <b>Device Name</b> {{ approvalRequestDataToConfirm.deviceName }} <br>
    <b>Asset Code</b> {{ approvalRequestDataToConfirm.assetCode }} <br>
    <b>Service Tag</b> {{ approvalRequestDataToConfirm.serviceTag }} <br>
    <b>Issued Date</b> {{ approvalRequestDataToConfirm.issuedDate }} <br>
    <b>Expiry Date</b> {{ approvalRequestDataToConfirm.expiryDate }} <br>
    <b>Expiry Status</b> {{ approvalRequestDataToConfirm.expiryStatus }} <br>
  </div>
  <hr>
  <!-- Confirmation Buttons -->
  <div class="confirmation-buttons">
      <button class="btn btn-primary" type="submit" (click)="submit()">Confirm and send for Approval</button>
      <button class="btn btn-secondary" (click)="clickButton('form')">Go back to Request Form</button>
  </div>
</div>

<app-submit-modal [title]="modalTitle" [message]="modalMessage" (closeModal)="dismissModal()"></app-submit-modal>
  

