.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group-1 {
    display: flex;
    justify-content: space-between;
}

.form-group-1-1 {
    flex-grow: 1;
    margin-right: 10px;
}

.form-group-2-1,
.form-group-2-2 {
    width: calc(33.33% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-group-2-1,
.form-group-2-2 {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; 
}

.form-group-2-1 input,
.form-group-2-2 input {
    width: calc(100% - 10px);
}

.form-group-2-2 {
    margin-right: 0;
}

.form-group-2-3 {
    width: calc(50% - 5px);
    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}

.form-group-2-3 input {
    width: calc(100% - 10px);
}

.form-group-2-3 + .form-group-2-3 {
    margin-left: 10px;
}

.form-group-3-1 {
    margin-bottom: 10px;
}

.form-group-3-2 {
    width: calc(50% - 5px);
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
}

.form-group-3-3 {
    width: calc(33.33% - 5px);
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
}

.form-group-4-1 {
    width: calc(33.33% - 5px);
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
}

.form-group-4-1 input {
    margin-bottom: 10px;
    width: calc(100% - 10px);
}

.form-group-4-2 {
    width: calc(50% - 5px);
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
}

.form-group-4-2 input {
    margin-bottom: 10px;
    width: calc(100% - 10px);
}

.form-group-4-1 {
    clear: left;
}

.form-submit {
    text-align: center;
    margin-bottom: 10px;
}

.form-submit button {
    margin: 0 10px; 
}

.back-nav {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

input, select {
    border-width: 2px;
    border-color: #6d6d6d;
}

label {
    margin-bottom: 2px;
}